.rightbox {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    width: calc(100vw - 280px);
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
}

.mailblock{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
    height: 100%;
    border-right: solid 1px #DDD;
    box-sizing: border-box;
}

.mailtabs{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: auto;
}

.tablist{
    background-color: #F6F7F8;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    color: #AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 600;
}

.tablist.active{
    background-color: #FFF;
    border-top: solid 4px #3187E1;
    color: #000;
}

.grouplist{
    display: flex;
    flex-direction: column;
}

/*block of each group or campaign css begin*/
.groupbox {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 0.1fr 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80px;
    border-bottom: solid 1px #DDD;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.gbdiv1 { grid-area: 1 / 1 / 2 / 3; }
.gbdiv2 { grid-area: 2 / 1 / 3 / 3; }
.gbdiv3 { grid-area: 3 / 1 / 4 / 2; }
.gbdiv4 { grid-area: 3 / 2 / 4 / 3; }

.gbdiv1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.gbdiv3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.gbdiv4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.hr2{
    margin: auto;
    border-bottom: solid 0.6px #EEEEEE;
}

.groupbox:hover{
    background-color: #3187E1;
    color: #FFF;
    transition: 0.2s;
}

.groupbox.active{
    background-color: #3187E1;
    color: #FFF;
    transition: 0.2s;
}
/*block of each group or campaign css end*/
/*mailblock (list of groups and campaigns) css end*/


/*history block css begin*/
.historyblock{
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 500px);
    min-width: 500px;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.historyheader{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.historyheader > div{
    display: flex;
}

.historyheader > div > label{
    margin-right: 5px;
}

.statsbtn, .composehistorybtn{
    width: 120px;
    min-height: 24px;
    background-color: #3187E1;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-left: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

.statsbtn:hover, .composehistorybtn:hover{
    background-color: #333;
    transition: 0.3s;
}

.statsbtn:active, .composehistorybtn:active{
    background-color: #666;
}


/*mail history box css begin*/
.mailhistory{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}


/*message box of each email css begin*/
.messagebox {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: repeat(2, 5fr) 1fr 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100px;
    background-color: #FFF;
    border: solid 1px #DDD;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.mbdiv1 { grid-area: 1 / 1 / 2 / 2; }
.mbdiv2 { grid-area: 2 / 1 / 3 / 2; }
.mbdiv3 { grid-area: 1 / 2 / 3 / 3; }
.mbdiv4 { grid-area: 3 / 1 / 4 / 3; }
.mbdiv5 { grid-area: 4 / 1 / 5 / 3; }

.mbdiv1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    font-size: 12px;
}

.mbdiv2{
    display: flex;
    justify-content: flex-start;
}

.mbdiv2 > div{
    font-size: 12px;
    background-color: #DDD;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-right: 20px;
}

.subjecthistory{
    font-size: 14px;
}

.mbdiv3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewmailbtn{
    background: transparent;
    font-size: 24px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #AAA;
}

.viewmailbtn:hover{
    color: #3187E1;
}

.viewmailbtn:active{
    color: #333;
}

.mbdiv5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.seenbtn{
    background-color: #06A94D;
    width: 100px;
    min-height: 20px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.seenbtn:hover{
    background-color: #333;
}
/*message box of each email css end*/
/*mail history css end*/
/*history box css end*/