.rightbox {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    width: calc(100vw - 280px);
    margin-top: 60px;
    height: calc(100vh - 60px);
}

.navmail {
    background-color: #FFF;
    border-bottom: solid 1px #DDD;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navmail>label {
    font-size: 14px;
    color: #666666;
    min-width: 100px;
    text-align: center;
}

.navmail>div {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navmail>div>button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #FFF;
    margin: 0 20px 0 20px;
    font-size: 16px;
    color: #AAA;
    margin: 0;
}

.navmail>div>button:hover {
    color: #666;
    width: 40px;
    height: 40px;
    background-color: #EEE;
    transition: 0.3s;
}

.navmail>div>button:active {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    transition: 0.3s;
}

.messagebox {
    display: grid;
    grid-template-columns: 2fr 10fr 3fr repeat(2, 2fr);
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 80px;
    border-bottom: solid 1px #DDD;
    padding: 10px;
    box-sizing: border-box;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 3;
}

.div4 {
    grid-area: 3 / 1 / 4 / 2;
}

.div5 {
    grid-area: 3 / 2 / 4 / 3;
}

.div6 {
    grid-area: 1 / 3 / 4 / 4;
}

.div7 {
    grid-area: 1 / 4 / 4 / 5;
}

.div8 {
    grid-area: 1 / 5 / 5 / 6;
}

.div1,
.div4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.div3 {
    display: flex;
    align-items: center;
}

.div2,
.div5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.div6,
.div7,
.div8 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    font-size: 20px;
}

.div4 {
    font-size: 12px;
}

.div6,
.div2,
.div5 {
    font-size: 14px;
}

.hr2 {
    margin: auto;
    border-bottom: solid 0.6px #EEEEEE;
    width: 90%;
}

.messagebox button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.messagebox:hover {
    background-color: #3187E1;
    color: #FFF;
    transition: 0.2s;
}

.messagebox button:hover {
    background-color: #4698F0;
    transition: 0.2s;
}

.messagebox:hover .far {
    color: #FFF;
}

.far {
    color: #3187E1;
    font-size: 20px;
}

.messagebox div button {
    background: transparent;
}