* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/************************ HEADER AND LEFT PANEL START ********************************/

.headerbar {
    overflow: hidden;
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-left: 32px;
}

.logoicon {
    height: 36px;
}

.logoname {
    min-width: 200px;
    padding-left: 10px;
    font-size: 24px;
    color: #666666;
    font-family: 'Racing Sans One', cursive;
}

.buttonblock {
    height: 100%;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.buttonblock > button{
    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 120px;
    background-color: #F6F7F8;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonblock > button:hover{
    background-color: #333;
    color: #FFF;
    transition: 0.3s;
}

.buttonblock > button:active{
    background-color: #666;
}


.leftpanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-top: 20px;
    overflow: hidden;
    background-color: #F6F7F8;
    position: fixed;
    left: 0;
    width: 280px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    border-right: solid 1px #DDD;
}

.hr1{
    margin: 20px 0 20px 0;
    border-bottom: solid 1px #EEEEEE;
    width: 90%;
}

.composebtn{
    width: 120px;
    min-height: 30px;
    background-color: #3187E1;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 15px 100px 15px 40px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

.composebtn:hover{
    background-color: #333;
    transition: 0.3s;
}

.composebtn:active{
    background-color: #666;
}

.pagelink{
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
}

.pagelink:hover{
    color: #3187E1;
}

.pagelink.active{
    color: #3187E1;
}

.pagelink > i{
    width: 30px;
}

.welcomelabel{
    color: #666666;
}

.nameblock{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    color: #666666;
    letter-spacing: 2px;
}

.rightbox {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    width: calc(100vw - 280px);
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
/************************ HEADER AND LEFT PANEL END ********************************/




















/*add contacts from file + buttons css begin*/
.uploadBlock {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 60%;
    margin: 40px auto 0 auto;
}

#id_myfile {
    display: None;
}

.uploadBlock > div{
    display: flex;
    align-items: center;
}

.uploadBlock > div > label{
    min-width: 180px;
}

.uploadBlock > div > div{
    height: 30px;
    background-color: #EEE;
    width: 300px;
    border-radius: 15px;
}

.openfilebtn{
    height: 30px;
    background-color: #666;
    border-radius: 15px;
    color: #FFF;
    font-size: 12px;
    min-width: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.openfilebtn:hover {
    background-color: #333;
    transition: 0.2s;
}

.openfilebtn:active{
    background-color: #666;
}

.filenamelabel{
    color: #666;
    margin-left: 10px;
    font-size: 12px;
}

.uploadfilebtn, .addbtn, .uploadmanualbtn{
    height: 30px;
    background-color: #3187E1;
    border-radius: 15px;
    color: #FFF;
    font-size: 12px;
    min-width: 100px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
}

.uploadfilebtn:hover, .addbtn:hover, .uploadmanualbtn:hover{
    background-color: #333;
    transition: 0.2s;
}

.uploadfilebtn:active, .addbtn:active, .uploadmanualbtn:active {
    background-color: #666;
}

/*add contacts from file + buttons css end*/


.seperator {
    float: left;
    width: 70%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px auto 20px auto;
}

.seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

/*add contact manually css begin*/
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    margin-top: calc(50vh - 270px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 640px;
    height: 540px;
    box-sizing: border-box;
}

.mapForm {
    height: 90%;
    width: 90%;
    margin: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 36px;
    line-height: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #3187E1;
    text-decoration: none;
    cursor: pointer;
}

.mapForm > div{
    width: 100%;
    height: 90%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}

.mapForm > div > div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapForm input {
    width: 240px;
    min-height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
/*add contact manually window css end*/


/*table css begin*/
.tablecontainer {
    margin-top: 50px;
    min-height: 540px;
    width: 80%;
    color: #FFFFFF;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 0px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
}

.tableheader {
    width: fit-content;
    height: 40px;
    display: table;
    background-color: #333;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.tableheader div {
    min-width: 240px;
    max-width: 240px;
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;

}

.resultSet {
    width: fit-content;
    height: 100%;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1px;
    font-weight: 500;
    overflow-y: overlay;
    overflow-x: hidden;
    box-sizing: border-box;
}

.entry {
    min-width: 100%;
    width: fit-content;
    height: 40px;
    display: table;
    box-sizing: border-box;
}

.entry div {
    min-width: 240px;
    max-width: 240px;
    text-align: center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #DDD;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px 0px 5px;
}

/*Table css end*/
