<!DOCTYPE html>
<html lang="en">

<head>
    {%load staticfiles%}
    <meta charset="UTF-8">
     <meta name="_token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{%static 'svg/logo.svg'%}">

    <link rel='stylesheet' href="{%static 'css/account/dashboard.css'%}" />
    <link rel='stylesheet' href="{%static 'css/account/addemail.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Dashboard</title>
</head>

<body>
    <!---------------------------------- HEADER AND LEFT PANEL START --------------------------------------->
    <div class="headerbar">
        <div class="logoblock">
            <img class="logoicon" src="{%static 'svg/logo.svg'%}">
            <label class="logoname">TinkComm</label>
        </div>
        <div class="buttonblock">
            <label class="emailid">{{email}}</label>
            <button class="accountpagelink"><i class="fas fa-user"></i><label>ACCOUNT</label></button>
            <button class="logoutlink" onclick="logout()"><i class="fas fa-sign-out-alt"></i><label>LOGOUT</label></button>
        </div>
    </div>
    <div class="leftpanel">
        <div class="welcomelabel"><label>WELCOME</label></div>
        <div class="nameblock"><label class="namelabel">{{name}}</label></div>
        <button class="composebtn">+ COMPOSE</button>

        <div class="pagelink inboxbtn"><i class="fas fa-inbox"></i><label>Inbox</label></div>
        <div class="pagelink unreadbtn"><i class="fas fa-envelope-open-text"></i><label>Unread</label></div>
        <div class="pagelink sentbtn"><i class="fas fa-paper-plane"></i><label>Sent</label></div>
        <div class="pagelink bouncedbtn"><i class="fas fa-exclamation-circle"></i><label>Bounced</label></div>
        <hr class="hr1">
        <div class="pagelink dashboardbtn active"><i class="fas fa-columns"></i><label>Dashboard</label></div>
        <hr class="hr1">
        <div class="pagelink contactbtn"><i class="fas fa-id-badge"></i><label>Contacts</label></div>
        <div class="pagelink groupbtn"><i class="fas fa-users"></i><label>Groups</label></div>
        <div class="pagelink campaignbtn"><i class="fas fa-user-plus"></i><label>Campaigns</label></div>
        <div class="pagelink formbtn"><i class="fas fa-file-alt"></i><label>Forms</label></div>
        <div class="pagelink templatebtn"><i class="fas fa-edit"></i><label>Templates</label></div>
        <div class="pagelink statbtn"><i class="fas fa-chart-line"></i><label>Stats</label></div>
    </div>

    <!---------------------------------- HEADER AND LEFT PANEL END --------------------------------------->






    <div class="rightbox">

        <div class="mailblock">
            <div class="mailtabs">
                <div class="tablist grouptab active"><label>GROUPS</label></div>
                <div class="tablist campaigntab"><label>CAMPAIGNS</label></div>
            </div>
            <div class="grouplist">
            <!--
            <div class="groupbox">
                <div class="gbdiv1"><label>Technical</label></div>
                <div class="gbdiv2"><hr class="hr2"></div>
                <div class="gbdiv3"><label>Deploy the application on AWS</label></div>
                <div class="gbdiv4"><label>9: 23 PM | June 12, 2020</label></div>
            </div>
            -->
            </div>
        </div>


        <div class="historyblock">
            <div class="historyheader">
                <div>
                    <label class="group_campaign_name">Technical</label>
                    <label>|</label>
                    <label class="no_of_members">7</label>
                    <label>members</label>
                </div>
                <div>
                    <button class="statsbtn">STATS</button>
                    <button class="composehistorybtn">+ COMPOSE</button>
                </div>
            </div>

            <div class="mailhistory">
                <!--
                <div class="messagebox">
                    <div class="mbdiv1"><label>You</label></div>
                    <div class="mbdiv2">
                        <div><label>SUBJECT</label></div>
                        <label class="subjecthistory">Deploy the application on AWS</label>
                    </div>
                    <div class="mbdiv3"><button class="viewmailbtn"><i class="fas fa-external-link-alt"></i></button></div>
                    <div class="mbdiv4"><hr class="hr2"></div>
                    <div class="mbdiv5">
                        <label class="datehistory">9: 23 PM | June 12, 2020</label>
                        <button class="seenbtn">SEEN BY 2</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>


    <script src="{%static 'js/account/addemail.js'%}"></script>
    <script src="{%static 'js/account/dashboard.js'%}"></script>
<script src="{%static 'js/account/ajax.js'%}"></script>
</body>

</html>

