
<!DOCTYPE html>
<html lang="en">
{%load staticfiles%}
<head>

  <title>Log In</title>
  <meta charset="utf-8">
  <link rel="icon" href="{%static 'svg/logo.svg'%}">
      <meta name="_token" content="{{ csrf_token }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google-signin-client_id"
        content="872695112664-a50ep3pjk9l36gn16vhc8nc96gp2l98f.apps.googleusercontent.com">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="{%static 'css/login/login.css'%}">
</head>

<body>
  <div class="logoblock">
    <img class="logoicon" src="{%static 'svg/logo.svg'%}">
    <img class="logoname" src="{%static 'svg/logoname.svg'%}">
  </div>
  <form class="login-form" method="post" action="{%url 'accounting:login'%}">
    {%csrf_token%}
    <label class="headlabel">Login to TinkComm</label>
    <div class="form-group">
      <input type="text" name="userid" placeholder="Username" required>
      <span class="input-icon"><i class="fa fa-user"></i></span>
    </div>
    <div class="form-group">
      <input type="password" name="psw" placeholder="Password" required>
      <span class="input-icon"><i class="fa fa-lock"></i></span>
    </div>

        {%if e_message%}
        <small style="color: red">{{e_message}}</small><br>
        {%endif%}

        {%if error_message%}
        <small style="color: red">{{error_message}}</small><br>
        {%endif%}

        {%if u_message%}
        <small style="color: red">{{u_message}}</small><br>
        {%endif%}


    <button type="submit" class="login-btn">LOGIN</button>
    <div class="links-label">
      <a class="reset-psw" href="{%url 'accounting:reset_password'%}">Forgot your password?</a>
      <label>&#9679;</label>
      <a class="signup-link" href="{%url 'accounting:signup'%}">Create an account</a>
    </div>
    <div class="seperator"><b>or</b></div>
    <p>Sign in with your social media account</p>
    <!-- Social login buttons -->
    <div class="social-icon">
      <div class="fb-login-button" data-size="medium" data-use-continue-as="true" data-layout="default"
                data-auto-logout-link="false" scope="public_profile,email" onlogin="checkLoginState();">Log In</div>
            <div class="g-signin2" data-size="small" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
  </form>
<script src="{%static 'js/login/glogin.js'%}"></script>
<script src="{%static 'js/login/flogin.js'%}"></script>
</body>

</html>
