<!DOCTYPE html>
<html lang="en">
{%load staticfiles%}
<head>
    <meta name="_token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">
    <title>Sign Up</title>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'svg/logo.svg'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="google-signin-client_id"
        content="872695112664-a50ep3pjk9l36gn16vhc8nc96gp2l98f.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="{%static 'js/form.js'%}"></script>

</head>
<link rel="stylesheet" href="{%static 'css/signup2.css'%}">
<body>
    <div class="logoblock">
        <img class="logoicon" src="{% static 'svg/logo.svg'%}">
        <img class="logoname" src="{% static 'svg/logoname.svg'%}">
    </div>
    <form class="signup-form" method="post" name="My" action="{%url 'accounting:usersignup'%}" onsubmit="return validateForm();">
            {%csrf_token%}
        <label class="headlabel">Signup for TinkComm</label>
        <div class="form-group">
            <input type="text" name="name" placeholder="Name" id="name" required>
            <span class="input-icon"><i class="fa fa-user"></i></span>
        </div>

        <div class="form-group">
            <input type="text" name="userid" placeholder="Username" id="user_id" pattern="(?=.*[$@$#!%?&.])(?=.*\d)(?=.*[aA-zZ]).{8,}" required>
            <span class="input-icon"><i class="fa fa-user"></i></span>
        </div>
      <div id="message1">
          <small style="color: red">Must Contain One Number,Alphabet</small><br>
                 <small style="color: red">Must Contain One SpecialCharacter,Length:-8 charaters</small><br>
            </div>
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="E-mail" required>
            <span class="input-icon"><i class="fa fa-envelope"></i></span>
        </div>
        <div class="form-group">
            <input type="password" name="psw" id="psw" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                   required>
            <span class="input-icon"><i class="fa fa-lock"></i></span>
        </div>
        <div id="message">
  <h3>Password must contain the following:</h3>
	<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
	<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
	<p id="number" class="invalid">A <b>number</b></p>
	<p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
        <div class="form-group">
            <input type="password" name="psw1" id="psw1" placeholder="Confirm-Password" required>
            <span class="input-icon"><i class="fa fa-lock"></i></span>
        </div>
        <div class="form-group">
	<input list="browsers" name="city" id="city"placeholder="Enter City" required>
  <datalist id="browsers">

<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Delhi">Delhi</option>
      <option value="Haryana">Haryana</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Odisha">Odisha</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Telangana">Telangana</option>
<option value="Tripura">Tripura</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="West Bengal">West Bengal</option>

  </datalist>
  <span class="input-icon"><i class="fa fa-archway"></i></span>
  </div>
        <div class="g-recaptcha" data-sitekey="6LfAfaoZAAAAANcfYBKTHSeuAcEgq-pRat4Omb4Y" ></div>

        <button type="submit" name="type" value="start" class="signup-btn">CONTINUE</button>
        <a class="login-link" href="{%url 'accounting:login'%}">Already have an account? Log in</a>
        <div class="seperator"><b>or</b></div>
        <p>Signup with your social media account</p>
        <!-- Social signup buttons -->
        <div class="social-icon">
            <div class="fb-login-button" data-size="medium" data-use-continue-as="true" data-layout="default"
                data-auto-logout-link="false" scope="public_profile,email" onlogin="checkLoginState();">Log In</div>
            <div class="g-signin2" data-size="small" data-onsuccess="onSignIn" data-theme="dark"></div>
        </div>

    </form>
<script src="{%static 'js/google.js'%}"></script>
<script src="{%static 'js/facebook.js'%}"></script>
<script src="{%static 'js/signup.js'%}"></script>
{%if error_message%}
<script>
    alert('username already exists');
</script>
{%endif%}
{%if error%}
<script>
    alert('Email already exists');
</script>
{%endif%}
{%if error_message67%}
    <script>
    alert('Errorrrrr.......');
</script>
{%endif%}
</body>

</html>
