* {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
    }

    html {
      height: 100%;
      box-sizing: border-box;
      overflow-x: hidden;
      background-attachment: fixed;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }

    body {
      background-color: #F6F7F8;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logoblock {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin: 100px auto 0 auto;
    }

    .logoicon {
        height: 54px;
        margin-right: 20px;
    }

    .logoname {
        height: 54px;
    }

    .otpicon {
      height: 96px;
    }

    .otp-form .headlabel {

      margin: 30px 0 20px 0;
      letter-spacing: 1px;
    }

    .otp-form {
      background: #FFF;
      box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
      width: 500px;
      top: 40px;
      margin: 50px auto 150px auto;
      padding: 30px 50px 30px 50px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
    }

    .form-group {
      float: left;
      width: 100%;
      margin: 0 0 15px;
      position: relative;
    }

    .otp-form input {
      width: 100%;
      height: 40px;
      border-radius: 20px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 14px;
      padding: 5px 20px 5px 50px;
      font-family: 'Open Sans', sans-serif;
    }

    .otp-form .form-group .input-icon {
      font-size: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      height: 100%;
      padding-left: 20px;
      color: #666;
    }

    .otp-form .otp-btn {
      background: #0d47a1;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
      color: #fff;
      text-align: center;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 600;
      border-radius: 20px;
      width: 120px;
      height: 36px;
      box-sizing: border-box;
      cursor: pointer;
      margin-top: 10px;
      font-family: 'Open Sans', sans-serif;
    }

    .otp-btn:hover{
      opacity: 90%;
    }

    .otp-btn:active{
      background-color: #333;
    }

    .otp-form p {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 16px;
      margin: 0 0 10px;
    }

    @media screen and (max-width:767px) {
      body {
        background-color: #FFF;
      }

      .otp-form {
        box-shadow: 0px 0px 0px 0px;
        width: 90%;
        padding: 15px 15px 30px;
      }
    }
