
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body {
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 100px auto 0 auto;
}

.logoicon {
    height: 54px;
    margin-right: 20px;
}

.logoname {
    height: 54px;
}

.signup-form .headlabel {
    font-size: 16px;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

/*************************Change this********************/

.signup-form .social-icon {
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.social-icon > div {
    margin: 0 auto 10px auto;
}

/*********************End*********************************/

.signup-form {
    background: #FFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
    width: 400px;
    top: 40px;
    margin: 50px auto 150px auto;
    display: table;
    padding: 30px 50px 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.form-group {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    position: relative;
}

.signup-form input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 20px 5px 50px;
    font-family: 'Open Sans', sans-serif;
}

.signup-form .form-group .input-icon {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    height: 100%;
    padding-left: 20px;
    color: #666;
}

.signup-form .signup-btn {
    background: #0d47a1;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 20px;
    width: 120px;
    height: 36px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.signup-form .social-icon button {
    font-size: 20px;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 60%;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
}

.login-link {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #0d47a1;
    font-size: 14px;
    text-align: center;
    margin-top: 11px;
}

.login-link:hover {
    color: #AAA;
}

.login-link:active {
    color: #333;
}

/*
.googlebtn {
    background-color: #DB4437;
}

.fbbtn {
    background-color: #285397;
}

.linkedinbtn {
    background-color: #0077B5;
}
*/

.signup-form button:hover {
    opacity: 0.9;
}

.signup-form .seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
}

.signup-form .seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.signup-form p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px;
}

@media screen and (max-width:767px) {
    body {
        background-color: #FFF;
    }

    .signup-form {
        box-shadow: 0px 0px 0px 0px;
        width: 90%;
        padding: 15px 15px 30px;
    }
}
