<!DOCTYPE html>
<html lang="en">

<head>
{%load staticfiles%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">
<meta name="_token" content="{{ csrf_token }}">
  <title>Form</title>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'svg/logo.svg'%}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="{%static 'css/signup2.css'%}">
</head>

<body>
    <div class="logoblock">
        <img class="logoicon" src="{% static 'svg/logo.svg'%}">
        <img class="logoname" src="{% static 'svg/logoname.svg'%}">
    </div>
  <form class="signup-form" method="post" id="form" name="My" onsubmit="return validateForm();">
{%csrf_token%}
    <label class="headlabel">Change Your Password</label>
       <div class="form-group">
      <input type="hidden" id="id" name="id" value="{{id}}">
    </div>

    <div class="form-group">
      <input type="password" name="old" id="old" placeholder="Enter Your Old Password"  required>
      <span class="input-icon"><i class="fa fa-lock"></i></span>
    </div>
    <div class="form-group">
      <input type="password" name="psw" id="psw" placeholder="Enter New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <span class="input-icon"><i class="fa fa-lock"></i></span>
    </div>
        <div id="message">
  <h3>Password must contain the following:</h3>
	<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
	<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
	<p id="number" class="invalid">A <b>number</b></p>
	<p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
      <div class="form-group">
      <input type="password" name="psw1" id="psw1" placeholder="Retype Password" required>
      <span class="input-icon"><i class="fa fa-lock"></i></span>
    </div>

	<button  type="submit" value="start" name="type" class="signup-btn"  >Change Password</button>

  </form>
</body>
<script src="{%static 'js/accountva/validateform.js'%}"></script>
<script src="{%static 'js/signup.js'%}"></script>
</html>
