<!DOCTYPE html>
<html lang="en">

<head>
    {%load staticfiles%}
    <meta charset="UTF-8">
     <meta name="_token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{%static 'svg/logo.svg'%}">

    <link rel="stylesheet" href="{%static 'css/account/account.css'%}">
    <link rel='stylesheet' href="{%static 'css/account/addemail.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Account Details</title>
</head>

<body>
    <!---------------------------------- HEADER AND LEFT PANEL START --------------------------------------->
    <div class="headerbar">
        <div class="logoblock">
            <img class="logoicon" src="{%static 'svg/logo.svg'%}">
            <label class="logoname">TinkComm</label>
        </div>
        <div class="buttonblock">
            <label class="emailid">{{email}}</label>
            <button class="accountpagelink"><i class="fas fa-user"></i><label>ACCOUNT</label></button>
   <button class="logoutlink" onclick="logout()"><i class="fas fa-sign-out-alt"></i><label>LOGOUT</label></button>
        </div>
    </div>
    <div class="leftpanel">
        <div class="welcomelabel"><label>WELCOME</label></div>
        <div class="nameblock"><label class="namelabel">{{name}}</label></div>
        <button class="composebtn">+ COMPOSE</button>

        <div class="pagelink inboxbtn"><i class="fas fa-inbox"></i><label>Inbox</label></div>
        <div class="pagelink unreadbtn"><i class="fas fa-envelope-open-text"></i><label>Unread</label></div>
        <div class="pagelink sentbtn"><i class="fas fa-paper-plane"></i><label>Sent</label></div>
        <div class="pagelink bouncedbtn"><i class="fas fa-exclamation-circle"></i><label>Bounced</label></div>
        <hr class="hr1">
        <div class="pagelink dashboardbtn"><i class="fas fa-columns"></i><label>Dashboard</label></div>
        <hr class="hr1">
        <div class="pagelink contactbtn"><i class="fas fa-id-badge"></i><label>Contacts</label></div>
        <div class="pagelink groupbtn"><i class="fas fa-users"></i><label>Groups</label></div>
        <div class="pagelink campaignbtn"><i class="fas fa-user-plus"></i><label>Campaigns</label></div>
        <div class="pagelink formbtn"><i class="fas fa-file-alt"></i><label>Forms</label></div>
        <div class="pagelink templatebtn"><i class="fas fa-edit"></i><label>Templates</label></div>
        <div class="pagelink statbtn"><i class="fas fa-chart-line"></i><label>Stats</label></div>
    </div>
    <!---------------------------------- HEADER AND LEFT PANEL END --------------------------------------->






    <div class="rightbox">
        {%if account is True%}
        <!--Write your code here-->
        <div class="manageemail">
            <label class="sectionlabel">Manage all email IDs</label>
            <hr class="hr3">
            {%for accounts in e%}
            <div class="singleemailid">

                        <label>{{accounts.e_email}}</label>
                        <div>

                            <button value="{{accounts.id}}"  onclick="makedefault(this);" class="makedefaultbtn">MAKE DEFAULT</button>
                            <button value="{{accounts.id}}"  onclick="remove(this);" class="removebtn">REMOVE</button>
                        </div>

                    </div>`
            {%endfor%}
            <!--
            <div class="singleemailid">
                <label>Email 1</label>
                <div>
                    <button class="makedefaultbtn">MAKE DEFAULT</button>
                    <button class="removebtn">REMOVE</button>
                </div>
            </div>
            -->
        </div>
{%else%}
        <script>
            alert('Add gmail/outlook email first');
        </script>
        {%endif%}
        <div class="addemailid">
            <label class="sectionlabel">Add Email ID</label>
            <hr class="hr3">
            <form method="post" name="My" onsubmit="return Upload()">
                {%csrf_token%}
                <div><input type="hidden" name="id" value="{{id}}" id="id"></div>
                <div><label>Email Service Provider</label><select id="selectprovider" name="selectprovider"size="1"><option value="gmail">Gmail</option><option value="outlook">Outlook</option></select></div>
                <div><label>Enter email ID</label><input id="email" type="text" id="newemailid" name="newemailid" placeholder="Enter email" required></div>
                <div><label>Add app password</label><input id="psw" type="password" id="newemailpassword" name="newemailpassword" placeholder="Enter password" required></div>
                <div><label>Confirm password</label><input id="psw1" type="password" id="confirmnewemailpassword" name="confirmnewemailpassword" placeholder="Confirm password" required></div>
                <button class="accountformbtn addemailidbtn">ADD EMAIL</button>
            </form>
        </div>

        <div class="changepassword">
            <label class="sectionlabel">Change password for an email ID</label>
            <hr class="hr3">
            <form method="post" name="Change" onsubmit="return chnagepassword()" >
                {%csrf_token%}
                <div><label>Select Email ID</label><select id="selectemailid" name="selectemailid" size="1">{%for accounts in e%}<option value="{{accounts.e_email}}">{{accounts.e_email}}</option>  {%endfor%}</select>
                </div>
                <div><input type="hidden" name="id" value="{{id}}" id="ids"></div>
                <div><label>Enter old password</label><input type="password" name="oldpassword" id="oldpassword" placeholder="Old password" required></div>
                <div><label>Enter new password</label><input type="password" name="newpassword" id="newpassword" placeholder="New password" required></div>
                <div><label>Confirm new password</label><input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password" required></div>
                <button type="submit" class="accountformbtn changepasswordbtn">CHANGE PASSWORD</button>
            </form>
        </div>

        <div class="changename">
            <label class="sectionlabel">Change your Name</label>
            <hr class="hr3">
            <form method="post" name="nameform" onsubmit="return chnagename()">
                {%csrf_token%}
                <div>
                    <label>Enter New Name</label>
                    <input type="hidden" name="id" value="{{id}}" >
                    <input type="text" id="newname" name="newname" placeholder="Enter Name" required>
                </div>
                <button type="submit" class="accountformbtn changepasswordbtn">CHANGE NAME</button>
            </form>
        </div>

        <div class="changephoto">
            <label class="sectionlabel">Change your Photo</label>
            <hr class="hr3">

            <div>
                <label>Upload a new photo</label>
                <div class="dummyfilehandle">
                    <button class="openfilebtn">OPEN</button>
                    <label class="filenamelabel"></label>
                </div>
            </div>
            <form method="post" action="{%url 'emailaccount:userphoto'%}" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="hidden" value="{{id}}" name="id">
                {%for filed in form%}
                {{filed}}
                {%endfor%}
                <!--<input type="submit" name="upload_file" value="" class="inputUploadButton">-->
                <button type="submit" name="type" value="start" class="accountformbtn uploadfilebtn">UPLOAD</button>
            </form>
        </div>
{%if pr is None%}
        <div><button class="changeaccountpasswordbtn" onclick="ACC()">CHANGE ACCOUNT PASSWORD</button></div>
{%endif%}
        <div class="accountdetails">
            {% if image.url is not null%}
            <img class="userimage" src="{{image.url}}">

            {%else%}
            <img class="userimage" src="#">
            {%endif%}
            <label class="completenamelabel"></label>
            <div>
                <label class="personallabel">Username</label>
                <label class="usernamelabel">{{username}}</label>
            </div>
            <div>
                <label class="personallabel">Account Email</label>
                <label class="accountemaillabel">{{email}}</label>
            </div>
            <div>
                <label class="personallabel">Default Email</label>
                <label class="defaultemaillabel">{{default}}</label>
            </div>

        </div>

    </div>

    <script src="{%static 'js/account/account.js'%}"></script>
       <script src="{%static 'js/account/addemail.js'%}"></script>
<script src="{%static 'js/account/ajax.js'%}"></script>
<script src="{%static 'js/upload.js'%}"></script>
<script src="{%static 'js/chnagename.js'%}"></script>
<script src="{%static 'js/emailpasswordchange.js'%}"></script>
<script src="{%static 'js/remove.js'%}"></script>

</body>

</html>

