* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/************************ HEADER AND LEFT PANEL START ********************************/

.headerbar {
    overflow: hidden;
    background-color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-left: 32px;
}

.logoicon {
    height: 36px;
}

.logoname {
    min-width: 200px;
    padding-left: 10px;
    font-size: 24px;
    color: #666666;
    font-family: 'Racing Sans One', cursive;
}

.buttonblock {
    height: 100%;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.buttonblock > button{
    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 120px;
    background-color: #F6F7F8;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttonblock > button:hover{
    background-color: #333;
    color: #FFF;
    transition: 0.3s;
}

.buttonblock > button:active{
    background-color: #666;
}


.leftpanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-top: 20px;
    overflow: hidden;
    background-color: #F6F7F8;
    position: fixed;
    left: 0;
    width: 280px;
    margin-top: 60px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    border-right: solid 1px #DDD;
}

.hr1{
    margin: 20px 0 20px 0;
    border-bottom: solid 1px #EEEEEE;
    width: 90%;
}

.composebtn{
    width: 120px;
    min-height: 30px;
    background-color: #3187E1;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 15px 100px 15px 40px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

.composebtn:hover{
    background-color: #333;
    transition: 0.3s;
}

.composebtn:active{
    background-color: #666;
}

.pagelink{
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666666;
}

.pagelink:hover{
    color: #3187E1;
}

.pagelink.active{
    color: #3187E1;
}

.pagelink > i{
    width: 30px;
}

.welcomelabel{
    color: #666666;
}

.nameblock{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
    color: #666666;
    letter-spacing: 2px;
    max-width: 200px;
    display: flex;
    align-items: flex-start;
}

.rightbox {
    overflow-x: hidden;
    position: fixed;
    right: 0;
    width: calc(100vw - 280px);
    margin-top: 60px;
    height: calc(100vh - 60px);
}

